.MenuIcons {
	padding: 0;
	margin: 0;
	position: relative;
	border-radius: 5px;
	width: 134px;
	height: 110px;
	background-color: #fff;
	li {
		position: absolute;
		text-decoration: none;
		list-style: none;
		z-index: 2;
		transition: background-color 0.25s;
		&:hover {
			background-color: #FFE073;
		}
	}
}

.activeMenuLink li {
	background-color: #ffe998;
}

.MenuIcons__div_for_circle {
	width: 100%; 
	height: 100%;
	overflow: hidden;
	position: absolute;
	&::after {
		content: '';
		position: absolute;
		left: 57px;
		top: 38px;
		border-radius: 50%;
		width: 145px;
		height: 135px;
		box-sizing: border-box;
		background-color: #fff;
		z-index: 10;
		box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
	}
}

.MenuIcons__div_for_shadow {
	position: absolute;
	width: 143px; 
	height: 200px;
	top: -67px;
	left: -27px;
	overflow: hidden; 
	transform: rotate(45deg);
	&::after {
		content: '';
		position: absolute;
		border-radius: 5px;
		width: 134px;
		height: 110px;
		top: 44px;
		left: 35px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		transform: rotate(-45deg);
	}
}

.MenuIcons__startup {
	top: 60px;
	height: 50px;
	width: 80px;
	img {
		width: 33px;
		margin-left: 16px;
		margin-top: 7px;
	}
}
.MenuIcons__people {
	width: 75px;
	height: 60px;
	border-right: 1px solid rgba(15, 85, 128, 0.5);
	border-bottom: 1px solid rgba(15, 85, 128, 0.5);
	img {
		width: 33px;
		margin-top: 13px;
		margin-left: 16px;
	}
}
.MenuIcons__find {
	left: 75px;
	width: 59px;
	height: 60px;
	img {
		width: 25px;
		height: 25px;
		margin-top: 10px;
		margin-left: 11px;
	}
}

@media (max-width: 750px) {
	.MenuIcons {
		position: relative;
		width: 100%;
		height: 45px;
		overflow: hidden;
		margin-bottom: 20px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		li {
			position: static;
			display: inline-block;
			vertical-align: top;
			width: 33.1%;
			height: 45px;
		}
	}
	.MenuIcons__startup {
		img {
			width: 30px;
			margin-left: 16px;
			margin-top: 5px;
		}
	}
	.MenuIcons__people {
		border-left: 1px solid rgba(15, 85, 128, 0.5);
		img {
			width: 30px;
			margin-top: 5px;
			margin-left: 15px;
		}
	}
	.MenuIcons__find {
		img {
			width: 26px;
			height: 26px;
			margin-top: 7px;
			margin-left: 17px;
		}
	}
	.MenuIcons__div_for_circle, .MenuIcons__div_for_shadow {
		display: none;
	}
}