.Startup__popup {
	right: -105%;
	top: -50%;
	// display: none;
	visibility: hidden;
	transition: opacity 0.7s ease;
	z-index: 20;
	opacity: 0;
}
.StartupCard:hover .Startup__popup {
	// display: block;
	visibility: visible;
	opacity: 1;
}

.StartupCard {
	position: relative;
	display: inline-block;
	width: 208px;
	border-radius: 10px 10px 5px 5px;
	box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
}
.StartupCard__title {
	min-height: 40px;
	padding-left: 7px;
	overflow-x: hidden;
	border-radius: 10px 10px 0px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;

	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;

	color: #24505F;
	background: linear-gradient(156.19deg, #FFE99C 16.29%, #FFE486 115.92%, rgba(255, 164, 91, 0.8) 166.56%);
}
.StartupCard__body {
	height: 71px;
	overflow-y: scroll;
	padding-left: 7px;
	padding-top: 9px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-color: #FFF;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
	font-size: 14px;
	color: #224A55;
}
.StartupCard__bottomLine {
	height: 7px;
	border-radius: 0px 0px 5px 5px;
	background: linear-gradient(217.89deg, rgba(255, 224, 115, 0.7) 4.5%, rgba(0, 157, 144, 0.5) 91.99%);
}

.StartupCard__triangle {
	position: absolute;
	right: 0;
	bottom: 0;
}
.StartupCard__button {
	position: absolute;
	cursor: pointer;
	height: 41px;
	width: 91px;
	right: -18px;
	bottom: -10px;
	background: linear-gradient(145.33deg, #FFE485 14.26%, #009D90 431.65%);
	background-color: #F4E185;
	box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	transition: background-color 1.35s;

	padding-left: 5px;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	line-height: 41px;
	font-size: 16px;
	color: #254E5B;
}
.StartupCard__button:hover {
	background: linear-gradient(145.33deg, rgba(255, 228, 133, 0.01) 14.26%, rgba(0, 157, 144, 0.01) 431.65%);
	/*background-color: #FFE485;*/
	background: linear-gradient(145.33deg, #FFE486 145.71%, #009D90 431.65%);
}

@media (max-width: 320px) {
	.StartupCard {
		display: block;
		width: 80%;
		margin-bottom: 30px;
	}
	.Startup__popup {
		right: -20%;
		top: -110%;
	}
}

@media (max-width: 400px) {
	.StartupCard {
		display: block;
		width: 70%;
		margin-bottom: 30px;
	}
	.Startup__popup {
		right: -20%;
		top: -110%;
	}
}

@media (min-width: 400px) and (max-width: 500px) {
	.StartupCard {
		display: block;
		width: 60%;
		margin-bottom: 30px;
	}
	.Startup__popup {
		right: -20%;
		top: -110%;
	}
}