.Body {
	padding-top: 12px;

	.SearchJoinLine {
		position: relative;
		display: inline-block;
		margin-left: -30px;
		z-index: 14;
	}

	.MenuIcons {
		display: inline-block;
	}
	.MyStartup, .CreateStartup, .BigBlank {
		position: relative;
		z-index: 20;
		margin-left: 91px;
		margin-top: -20px;
	}
	.CreateStartup, .BigBlank  {
		margin-top: -30px;	
	}
	.MyStartup .MyStartupTop {
		margin-top: -35px;
	}
}