body {
	padding: 0;
	margin: 0;
}
p, ul {
	margin: 0;
}
a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}

.Container {
	width: 745px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 745px) {
	.Container {
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}
