.SearchJoinLine {
	display: inline-block;
}
.SearchField {
	display: inline-block;
	vertical-align: middle;
}
.SearchGamburger {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.SearchButton {
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
}

@media (max-width: 745px) {
	.SearchJoinLine {
		width: 100%;	
	}
	.SearchField {

	}
	.SearchGamburger {
		margin-left: 10px;
	}
	.SearchButton {
		margin-left: 10px;
	}
}