.MyStartupTop {
	max-width: 580px;
	border-radius: 10px 10px 5px 5px;
	padding-bottom: 2px;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	font-size: 15px;
	
	color: #24505F;
	box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);

	.MyStartupTop__title {
		height: 40px;
		padding-left: 22px;
		padding-top: 5px;
		background: linear-gradient(169.45deg, #FFE99C 16.29%, #FFE486 115.92%, rgba(255, 164, 91, 0.8) 166.56%);
		border-radius: 10px 10px 0px 0px;
		line-height: 40px;
		font-size: 17px;
	}
	.MyStartupTop__description {
		height: 80px;
		max-width: 88%;
		font-size: 14px;
		margin-top: 12px;
		margin-left: 22px;
	}
	.MyStartupTop__switchButton:first-of-type {
		margin-left: 15px;
	}
	.MyStartupTop__switchButton {
		display: inline-block;
		min-width: 110px;
		min-height: 30px;
		padding-left: 10px;
		
		line-height: 30px;
		font-size: 15px;

		color: #345761;
		background: #EEEEEE;
		border-radius: 0px 0px 5px 5px;
		
		margin-left: 20px;
		& ~ .MyStartupTop__switchButton {
			margin-left: 2px;
		}
		&:hover {
			background: #F7EBC1;
		}
	}
	.MyStartupTop__rightButton {
		cursor: pointer;
		display: inline-block;
		min-width: 110px;
		height: 30px;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 7px;
		float: right;
		background: linear-gradient(159.15deg, #FFE486 145.71%, #009D90 431.65%);
		font-size: 14px;
		color: #3a616f;
		line-height: 30px;
	}	
}
.MyStartupBottom {
	max-width: 580px;
	height: 380px;
	margin-top: 14px;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
	
	padding-top: 1px;
	.Chat {
		margin: 15px;
	}
}




