.StartupCard {
	position: relative;
	display: inline-block;
	width: 208px;
	cursor: pointer;
	box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
}
.StartupCard__topLine {
	height: 7px;
	background-color: #84BEBA;
}
.StartupCard__title {
	min-height: 33px;
	padding-left: 7px;
	overflow-x: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	line-height: 33px;
	font-size: 14px;
	color: #111F24;
}
.StartupCard__body {
	padding-left: 7px;
	padding-top: 9px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-color: #F3F3F3;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
	font-size: 14px;
	color: #224A55;
}
.StartupCard__bottomLine {
	height: 7px;
	background-color: #009D90;
}

.StartupCard__triangle {
	position: absolute;
	right: 0;
	bottom: 0;
}
.StartupCard__button {
	position: absolute;
	height: 41px;
	width: 91px;
	right: -18px;
	bottom: -10px;
	background: linear-gradient(145.33deg, #FFE485 14.26%, #009D90 431.65%);
	background-color: #F4E185;
	box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
	transition: background-color 1.35s;

	padding-left: 5px;
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	line-height: 41px;
	font-size: 16px;
	color: #254E5B;
}
.StartupCard__button:hover {
	background: linear-gradient(145.33deg, rgba(255, 228, 133, 0.01) 14.26%, rgba(0, 157, 144, 0.01) 431.65%);
	background-color: #FFE485;
}